body {
	font-family: 'Muli', sans-serif;
	color: white;
	font-weight: lighter;
	text-align: center;
	position: center;
	font-size: 18px;
}

li {
	text-align: center;
	color: white;
	display: inline;
	float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #a35f93;
}

.active {
background-color:#bb6da8;
}

div{
	{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

}
ul{
    background-color: rgba(0,0,0,0.4);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

form {
	text-align: center;
	margin: 50px;
}

a {
	color: white;
}

header {
	font-size: 15px;
	top: 0;
	margin: 0;
    padding: 0;
}

footer {
    bottom:0;
    position: fixed;
    text-align: center;
    font-size: 15px;
    display: block;
    background-color: rgba(0,0,0,0.15);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

h1 {
	font-weight: lighter;
	font-size: 45px;
	text-shadow: 2px 2px 8px #000000;
}

h2 {
	font-size: 23px;
	font-weight: lighter;
}

input[type="submit"] {
	background: #bb6da8;
	color: white;
	border: 2px;
	padding: 10px 18px 10px 18px;
	font-size: 18px;
	border-radius: 8px;
}

input {
	font-family: 'Avenir Next', sans-serif;
}

textarea {
	font-family: 'Avenir Next', sans-serif;
}

